@using HairConnect.Web.Controllers

@model UserDetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <div>
        <img class="img-thumbnail img-responsive img-height" src="data:image;base64,@System.Convert.ToBase64String(Model.ProfilePicture)" height="200" width="200" />
    </div>
    <div>
        <h3>@Model.FirstName @Model.LastName</h3>
        <a class="btn btn-primary" asp-area="Messages" asp-controller="Messages" asp-action="SendMessage">Send Message</a>
    </div>
    <br />
    <h3>@Model.Email</h3>
    @if (Model.PhoneNumber != null)
    {
        <br />
        <h3>@Model.PhoneNumber</h3>
    }
    <br />
    <div>
        <h4>@Model.Rating</h4>
        @if (this.User.Identity.Name != Model.Email)
        {
            <form method="post">
                <input type="submit" class="btn-success btn-sm " value="+" asp-controller="Profiles" asp-action="Upvote" asp-route-id="@Model.Id" />
                <input type="submit" class="btn-danger btn-sm" value="-" asp-controller="Profiles" asp-action="Downvote" asp-route-id="@Model.Id" />
            </form>
        }
    </div>
    <br />

    @if (User.Identity.Name == Model.Email)
    {
        <a class="btn btn-lg btn-primary" asp-controller="Pictures" asp-action="AddPicture">Add Picture</a>
    }

    @await Component.InvokeAsync("ListPictures", new { id = Model.Id })
</div>
