@model IEnumerable<UserListingModel>
@{
    ViewData["Title"] = "ListProfiles";
}

<h2>Hairdressers</h2>

<table class="table-bordered table-responsive table-condensed">
    <thead>
        <tr>
            <th>Profile Picture</th>
            <th>Name</th>
            <th>Rating</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var profile in Model)
        {
            <tr>
                <th>
                    <img class="img-thumbnail img-responsive img-height" src="@Url.Action("GetProfilePicture", "Profiles", new { pictureContent = profile.ProfilePicture})"/>
                </th>
                <th>
                    <span>@profile.FirstName @profile.LastName</span>
                </th>
                <th>
                    @profile.Rating
                </th>
                <th>
                    <a class="btn-group-lg" asp-controller="Profiles" asp-action="Details" asp-route-id="@profile.Id">View Profile</a>
                </th> 
            </tr>
        }
    </tbody>
</table>

